* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ortada {
  margin: 50px;
  position: fixed;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.esas {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.color-box {
  margin: 10px;
  padding: 10px;
  width: 50%;
  height: 50vh;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#rengQutusu {
  background-color: rgb(255, 127, 80);
  color: rgb(80, 255, 197);
}
#rengQutusuCombinasiya {
  background-color: rgb(80, 255, 197);
  color: rgb(255, 127, 80);
}

#rengDeyis {
  margin: 10px;
  padding: 15px 20px;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  font-size: 18px;
  border: 1px solid black;
}

#rengDeyis:active {
  border: 1px solid rgba(43, 40, 40, 0.568);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.534);
}

@media screen and (max-width: 992px) {
  .color-box {
    height: 150px;
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .esas {
    flex-direction: column;
    justify-content: center;
  }
  .color-box {
    height: auto;
    width: 100%;
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .color-box {
    width: 100%;
  }
  #ortada {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .esas {
    width: 100%;
  }
}
