*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ortada{
    margin: 50px;
    position: fixed;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.esas{
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rengQutusu{
    margin: 10px;
    width: 50%;
    height: 50%;
    min-width: 30px;
    min-height: 20px;
    background-color: rgb(255, 127, 80);
    color: rgb(80, 255, 197);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rengQutusuCombinasiya{
    margin: 10px;
    width: 50%;
    height: 50%;
    min-width: 30px;
    min-height: 20px;
    background-color: rgb(80, 255, 197);
    color: rgb(255, 127, 80);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rengDeyis{
    margin: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
    border: 1px solid black;
}

#rengDeyis:active{
    border: 1px solid rgba(43, 40, 40, 0.568);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.534);
}